.footer {
  color: #696969;

  h3 {
    font-size: 20px;
    font-weight: 800;
    color: #444;
    margin-bottom: 16px;
  }

  p {
    font-size: 14px;
    margin: 0;
  }

  .copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    color: #aaa;
  }

  ul > li {
    list-style-type: none;
    line-height: 33px;

    a {
      font-size: 14px;
      color: inherit;
    }
  }
}
