* {
  box-sizing: border-box;
}

$columns: 12;
$column-base-width: calc(100% / $columns);

.container {
  width: 100%;
  max-width: 990px;
  margin: 0 auto;
  padding: 0 15px;

  .row {
    display: flex;
    flex-wrap: wrap;
  }
}

[class*='col-'] {
  min-height: 1px;
  width: $column-base-width;
  padding: 12px;
}

@for $i from 1 through $columns {
  .col-#{$i} {
    width: $column-base-width * $i;
  }
}

@media (max-width: 980px) {
  [class*='col-'] {
    width: 100%;
  }
}